body,html{
   height: 100%;
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   
}

div{
width: 200px;
height: 300px;
}
    
#b{
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    border : 1px solid rgb(0, 0, 0);
    
    
   
    
}
#c{
    z-index: 2;
    position: absolute;
    

    border-radius: 20px;
    rotate: 10deg;
    overflow: hidden;
    border : 1px solid rgb(0, 0, 0);
    
}
#img{
    width: auto;
    height: 100%;
    
    
    
}
#img2{
    width: auto;
    height: 100%;
    
}
/* #img:hover{
    z-index: 3;
} */
    
#b:hover{
    z-index: 4  ;
}
